/.idea
/.amazonq
target/
.github/copilot-instructions.md
src/main/resources/athlium-credentials.json
src/main/resources/privateKey.pem
src/main/resources/publicKey.pem

# Eclipse / STS local project files
.classpath
.project
.factorypath
.settings/
/AGENTS.md

# Environment and Data
.env
data/
mongo_data/
postgres_data/
secrets/

# Scripts & Binaries
*.sh
jdk-21.0.2/
openjdk-*.tar.gz

# Local configs
.agents/
skills-lock.json
